<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/WhatsApp Image 2024-07-05 at 12.15.36.jpeg" alt="Welcome Image" class="welcome-image">
    <div class="title">Hello👋, Welcome to DConnect!</div>
    <div class="tagline">Connecting Destinations</div>
    <div class="container">
        <div id="login-form">
            <h2>Signup</h2>
            <form action="/signup" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
                <button type="submit">Signup</button>
                <button type="button" onclick="window.location.href='{{ url_for('back_to_login')}}'">Back to Login</button>
            </form>
        </div>
    </div>
    <script>
        function loginpage() {
            window.location.href = "login.html";
        }
    </script>
</body>
</html>